// gotham

@font-face {
  font-family: 'gotham';
  src: url('../fonts/gotham-book-webfont.woff2') format('woff2'),
       url('../fonts/gotham-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham';
  src: url('../fonts/gotham-bookitalic-webfont.woff2') format('woff2'),
       url('../fonts/gotham-bookitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'gotham';
  src: url('../fonts/gotham-bold-webfont.woff2') format('woff2'),
       url('../fonts/gotham-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'gotham';
  src: url('../fonts/gotham-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/gotham-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}


// archer

@font-face {
  font-family: 'archer';
  src: url('../fonts/archer-medium-pro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'archer';
  src: url('../fonts/archer-mediumital-pro.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'archer';
  src: url('../fonts/archer-bold-pro.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'archer';
  src: url('../fonts/archer-boldital-pro.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
