// nice dotted border

@mixin nice-border-brown($border-width: 0 0 2px 0) {
  border-width: $border-width;
  border-style: dotted;
  border-color: $brown;
  border-image-source: url('../images/dots-brown.svg');
  border-image-slice: 25%;
  border-image-repeat: round;
}

@mixin nice-border-white($border-width: 0 0 2px 0) {
  border-width: $border-width;
  border-style: dotted;
  border-color: #fff;
  border-image-source: url('../images/dots-white.svg');
  border-image-slice: 25%;
  border-image-repeat: round;
}
