// variables

$red:    #e46953;
$yellow: #f9be00;
$blue:   #6dabe4;
$pink:   #fb7598;
$green:  #95d600;
$orange: #fa8d29;
$aqua:   #8ae2d1;
$purple: #bd83ca;
$brown:  #8d847a;
$maroon: #b34c59;
$white:  #ffffff;
$black:  #000000;
