// bower:scss
// endbower

@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";
@import "variables";
@import "mixins";
@import "fonts";


// base

body {
  color: $brown;
  font-family: 'gotham', sans-serif;
  font-size: 17px;
  line-height: 1.41176471;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

.h1, h1 { font-size: 30px; small { font-size: 50%; } }
.h2, h2 { font-size: 25px; }
.h3, h3 { font-size: 21px; }
.h4, h4 { font-size: 17px; }
.h5, h5 { font-size: 15px; }
.h6, h6 { font-size: 13px; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: baseline;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: none;
  @include nice-border-brown;
}

a {
  color: $aqua;
  transition: color .15s;

  &:focus,
  &:hover {
    color: darken($aqua, 15%);
  }
}

label {
  text-transform: uppercase;
}

textarea {
  resize: vertical;
}

blockquote {
  position: relative;
  padding: 36px 0 0 20px;
  font-family: 'archer', serif;
  font-size: 25px;
  font-style: italic;
  line-height: 1.2;
  border-left: none;

  &:before {
    content: "“";
    position: absolute;
    top: -32px;
    left: -12px;
    font-family: 'gotham', sans-serif;
    font-style: normal;
    font-size: 200px;
    font-weight: bold;
    line-height: 1;
    opacity: .2;
  }

  > * {
    position: relative;
  }

  .small,
  small,
  footer {
    color: inherit;
    font-family: 'gotham', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;

    &:before {
      content: "";
      display: none;
    }
  }
}

cite {
  font-style: normal;
}

dl {
  margin-bottom: 40px;

  dt {
    text-transform: uppercase;
  }

  dd {
    margin: 0 0 20px;
  }

  &.bordered {
    margin-left: 19px;
    padding-left: 19px;
    @include nice-border-brown(0 0 0 2px);
  }
}

iframe {
  display: block;
}


// equal height rows

.row-xs-equal-height,
.row-xs-align-bottom {
  display: flex;

  > .col-xs-1,
  > .col-xs-2,
  > .col-xs-3,
  > .col-xs-4,
  > .col-xs-5,
  > .col-xs-6,
  > .col-xs-7,
  > .col-xs-8,
  > .col-xs-9,
  > .col-xs-10,
  > .col-xs-11,
  > .col-xs-12 {
    display: flex;
    flex: 0 0 auto;

    > * {
      flex: 0 0 auto;
      width: 100%;
    }
  }
}

.row-sm-equal-height,
.row-sm-align-bottom {
  @media (min-width: $screen-sm-min) {
    display: flex;

    > .col-sm-1,
    > .col-sm-2,
    > .col-sm-3,
    > .col-sm-4,
    > .col-sm-5,
    > .col-sm-6,
    > .col-sm-7,
    > .col-sm-8,
    > .col-sm-9,
    > .col-sm-10,
    > .col-sm-11,
    > .col-sm-12 {
      display: flex;
      flex: 0 0 auto;

      > * {
        flex: 0 0 auto;
        width: 100%;
      }
    }
  }
}

.row-md-equal-height,
.row-md-align-bottom {
  @media (min-width: $screen-md-min) {
    display: flex;

    > .col-md-1,
    > .col-md-2,
    > .col-md-3,
    > .col-md-4,
    > .col-md-5,
    > .col-md-6,
    > .col-md-7,
    > .col-md-8,
    > .col-md-9,
    > .col-md-10,
    > .col-md-11,
    > .col-md-12 {
      display: flex;
      flex: 0 0 auto;

      > * {
        flex: 0 0 auto;
        width: 100%;
      }
    }
  }
}

.row-lg-equal-height,
.row-lg-align-bottom {
  @media (min-width: $screen-lg-min) {
    display: flex;

    > .col-lg-1,
    > .col-lg-2,
    > .col-lg-3,
    > .col-lg-4,
    > .col-lg-5,
    > .col-lg-6,
    > .col-lg-7,
    > .col-lg-8,
    > .col-lg-9,
    > .col-lg-10,
    > .col-lg-11,
    > .col-lg-12 {
      display: flex;
      flex: 0 0 auto;

      > * {
        flex: 0 0 auto;
        width: 100%;
      }
    }
  }
}

.row-xs-align-bottom {
  align-items: flex-end;
}

.row-sm-align-bottom {
  @media (min-width: $screen-sm-min) {
    align-items: flex-end;
  }
}

.row-md-align-bottom {
  @media (min-width: $screen-md-min) {
    align-items: flex-end;
  }
}

.row-lg-align-bottom {
  @media (min-width: $screen-lg-min) {
    align-items: flex-end;
  }
}


// icon

.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  fill: currentColor;
  vertical-align: middle;

  &.pull-left {
    margin-right: 15px;
  }

  &.pull-right {
    margin-left: 15px;
  }
}


// site-header

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding-top: 10px;
  padding-bottom: 8px;
  background-color: #fff;
  background-clip: padding-box;
  z-index: 1000;
  @include nice-border-brown;

  @media (min-width: $screen-sm-min) {
    position: absolute;
    height: 230px;
    padding-top: 30px;
    padding-bottom: 0;
    border: none;
  }
}

.site-header-primary {
  float: right;
  @include clearfix;

  @media (min-width: $screen-sm-min) {
    float: none;
    margin-bottom: 8px;
    @include nice-border-brown;
  }
}

.site-header-secondary {
  @media (min-width: $screen-sm-min) {
    @include clearfix;
    padding-bottom: 11px;
    border-bottom: 1px solid #e8e5e2;

    .template-home & {
      padding-bottom: 12px;
      border-bottom: none;
    }
  }
}

.site-logo {
  @media (min-width: $screen-sm-min) {
    float: left;
    margin-bottom: 24px;
  }

  a {
    display: block;
  }

  img {
    display: block;
    width: 109px;
    height: 44px;

    @media (min-width: $screen-sm-min) {
      width: 229px;
      height: 92px;
    }
  }
}

.primary-nav {
  position: fixed;
  left: -100px;
  top: 0;
  width: 100%;
  max-width: 440px;
  height: 100%;
  padding: 0 0 0 36px;
  background-color: $brown;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: left .3s, opacity .3s, visibility .3s;
  -webkit-overflow-scrolling: touch;
  z-index: 1000;

  &.is-open {
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .tertiary-nav-menu {
    display: block;
    margin: 0 60px 40px 0;
    font-size: 14px;

    @media (min-width: $screen-sm-min) {
      margin-right: 80px;
    }

    > li {
      width: 100%;
      border-right: none;

      > a {
        justify-content: flex-start;
        padding: 0;
        color: #fff;

        .icon-wrap {
          margin-right: 1em;
        }
      }
    }
  }
}

.primary-nav-toggle {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 15px;
  font-size: 14px;
  letter-spacing: .025em;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background: none;
  border: none;
  outline: none;

  @media (min-width: $screen-sm-min) {
    clear: both;
    float: left;
    position: static;
    top: auto;
    left: auto;
    padding: 0;
  }

  .icon {
    display: block;
    width: 30px;
    height: 30px;

    @media (min-width: $screen-sm-min) {
      width: 44px;
      height: 44px;
    }
  }

  .text {
    display: none;

    @media (min-width: $screen-sm-min) {
      display: block;
    }
  }
}

.primary-nav-close {
  float: right;
  padding: 16px 15px;
  color: #fff;
  background: none;
  border: none;
  outline: none;

  @media (min-width: $screen-sm-min) {
    padding-right: 25px;
    padding-left: 25px;
  }

  .icon {
    display: block;
    width: 30px;
    height: 30px;
  }
}

.primary-nav-menu {
  clear: both;
  margin: 0;
  padding: 0;
  font-family: 'archer', serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  list-style: none;
  text-transform: uppercase;

  > li {
    position: relative;
    padding: 0 0 15px;
    @include nice-border-white(2px 0 0 0);

    > a {
      display: block;
      margin: 0 60px 0 0;
      padding: 10px 0;
      color: #fff;

      @media (min-width: $screen-sm-min) {
        margin-right: 80px;
      }
    }
  }
}

.primary-subnav-menu {
  margin: 0;
  padding: 0 60px 0 24px;
  font-family: 'gotham', sans-serif;
  font-weight: normal;
  list-style: none;
  text-transform: none;

  @media (min-width: $screen-sm-min) {
    padding-right: 80px;
  }

  > li {
    > a {
      display: block;
      padding: 10px 0;
      color: #000;
    }
  }
}

.primary-subnav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  color: #fff;
  background: none;
  border: none;
  outline: none;

  @media (min-width: $screen-sm-min) {
    padding-right: 30px;
    padding-left: 30px;
  }

  .icon {
    display: block;
    width: 20px;
    height: 20px;
    transition: opacity .15s;
  }

  .icon-plus {
    opacity: 0;
  }

  .icon-minus {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 1;

    @media (min-width: $screen-sm-min) {
      left: 30px;
    }
  }

  &.collapsed {
    .icon-plus {
      opacity: 1;
    }

    .icon-minus {
      opacity: 0;
    }
  }
}

.secondary-nav-menu {
  margin: 0 60px 16px 0;
  padding: 0;
  font-family: 'archer', serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  list-style: none;
  text-transform: uppercase;

  @media (min-width: $screen-sm-min) {
    margin: 0 80px 28px 0;
  }

  > li {
    > a {
      display: block;
      padding: 10px 0;
      color: #000;
    }
  }
}

.tertiary-nav-menu {
  margin: 0 0 4px;
  padding: 0;
  font-weight: bold;
  line-height: 1.2;
  list-style: none;
  text-transform: uppercase;

  @media (min-width: $screen-sm-min) {
    display: flex;
    align-items: center;
  }

  > li {
    margin-bottom: 16px;

    @media (min-width: $screen-sm-min) {
      width: 33.33333%;
      @include nice-border-brown(0 2px 0 0);

      &:last-child {
        border-right: none;
        border-image-source: none;
      }
    }

    > a {
      display: flex;
      align-items: center;
      width: 100%;
      color: $brown;

      @media (min-width: $screen-sm-min) {
        justify-content: center;
        padding: 16px 24px 16px 16px;
      }

      .icon-wrap {
        position: relative;
        flex: 0 0 auto;
        width: 4.5em;
        height: 4.5em;
        margin-right: .5em;

        @media (min-width: $screen-md-min) {
          width: 5.33333em;
          height: 5.33333em;
        }

        &:before {
          content: "";
          position: absolute;
          top: 10%;
          left: 10%;
          width: 80%;
          height: 80%;
          background-color: #fff;
          border-radius: 50%;
        }
      }

      .icon {
        position: relative;
        display: block;
        width: 4.5em;
        height: 4.5em;

        @media (min-width: $screen-md-min) {
          width: 5.33333em;
          height: 5.33333em;
        }
      }
    }
  }
}

.primary-search-form {
  margin-bottom: 40px;
  margin-right: 60px;

  @media (min-width: $screen-sm-min) {
    margin-right: 80px;
  }
}

.secondary-nav {
  display: none;

  @media (min-width: $screen-sm-min) {
    display: block;
    float: right;
  }

  .tertiary-nav-menu {
    margin-bottom: 0;
    padding-top: 44px;
    font-size: 12px;

    @media (min-width: $screen-md-min) {
      padding-top: 36px;
    }

    > li {
      border-right: none;
      border-image-source: none;

      @media (min-width: $screen-sm-min) {
        margin-right: 16px;

        &:last-child {
          margin-right: 0;
        }
      }

      > a {
        padding: 0;
      }
    }
  }
}

.site-tagline {
  display: none;

  @media (min-width: $screen-sm-min) {
    display: block;
    position: relative;
    float: right;
    margin: 0;
    padding: 8px 0 0;
    color: #e8e5e2;
    font-family: 'archer', serif;
    font-size: 45px;
    line-height: 1.2;
  }

  .bubble {
    display: none;
  }

  .template-home & {
    @extend .text-colour-aqua;

    .bubble {
      @media (min-width: $screen-md-min) {
        display: flex;
        position: absolute;
        top: 80%;
        right: 100%;
        margin-right: 40px;
      }
    }
  }
}


// site-header is-fixed

.site-header.is-fixed {
  @media (min-width: $screen-sm-min) {
    position: fixed;
    height: 100px;
    padding-top: 18px;
    padding-bottom: 18px;
    box-shadow: 0 0 20px 0 rgba($black, .2);

    .site-header-primary {
      margin-bottom: 0;
      border-bottom: none;
      border-image-source: none;
    }

    .site-header-secondary {
      padding-bottom: 0;
      border-bottom: none;
    }

    .site-logo {
      margin-bottom: 0;
      padding-left: 75px;

      img {
        width: 159px;
        height: 64px;
      }
    }

    .secondary-nav .tertiary-nav-menu {
      padding-top: 5px;

      > li {
        margin-bottom: 0;
      }

      .text {
        display: none;
      }
    }

    .primary-nav-toggle {
      position: absolute;
      top: 18px;
    }

    .site-tagline {
      display: none;
    }
  }

  @media (min-width: $screen-md-min) {
    .secondary-nav .tertiary-nav-menu {
      padding-top: 0;
    }
  }
}


// site-main

.site-main {
  padding-top: 64px;

  @media (min-width: $screen-sm-min) {
    padding-top: 230px;
  }
}


// site-footer

.site-footer {

}

.site-footer-primary {
  padding: 20px 0;
  color: #fff;
  background-color: $brown;

  @media (min-width: $screen-sm-min) {
    padding: 74px 0;
  }

  a {
    color: inherit;
  }

  .well {
    border-color: #999087;
  }
}

.site-footer-secondary {
  padding: 44px 0 20px;
  font-family: 'archer', serif;
  line-height: 1.2;
  background: url(../images/coloured-border.svg) repeat-x 50% 0;
  background-size: 198px 11px;

  @media (min-width: $screen-sm-min) {
    background-size: 252px 14px;
  }

  a {
    color: inherit;
  }
}


// page-section

.page-section {
  padding-top: 40px;
  padding-bottom: 20px;

  @media (min-width: $screen-md-min) {
    padding-top: 80px;
    padding-bottom: 60px;
  }
}

.page-section-secondary {
  background-color: #f2f1f0;
}


// page-banner

.page-banner {
  position: relative;
  padding-bottom: 11px;
  background: url(../images/coloured-border.svg) repeat-x 50% 100%;
  background-size: 198px 11px;

  @media (min-width: $screen-sm-min) {
    padding-bottom: 14px;
    background-size: 252px 14px;
  }

  .carousel-inner {
    > .item {
      height: 0;
      padding-bottom: 70%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-width: $screen-sm-min) {
        padding-bottom: 50%;
      }

      @media (min-width: $screen-md-min) {
        padding-bottom: 35%;
      }

      > img {
        display: none;
      }
    }
  }

  .bubble {
    display: none;

    @media (min-width: $screen-md-min) {
      display: flex;
      position: absolute;
      bottom: 30px;
      left: 50%;
    }
  }

  .bubble-cloud {
    font-size: 22px;

    @media (min-width: $screen-md-min) {
      bottom: -160px;
      width: 12em;
      height: 12em;
      margin-left: 120px;
      padding: 3.5em 1.75em 3.25em;
      font-size: 30px;
    }
  }
}


// bubble

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 10em;
  height: 10em;
  padding: 1.5em;
  color: #fff;
  font-family: 'gotham', sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $screen-sm-min) {
    font-size: 17px;
  }

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .text {
    position: relative;
  }
}

.bubble-cloud {
  width: 8em;
  height: 8em;
  padding: 2.25em .75em 2em;
  font-size: 20px;

  @media (min-width: $screen-md-min) {
    font-size: 27px;
  }
}

.bubble-latest-news {
  float: right;
  margin: -72px -40px -50px 0;

  @media (min-width: $screen-md-min) {
    margin: -82px -40px -55px 0;
  }
}


// page-content

.page-content {
  padding-bottom: 30px;

  @media (min-width: $screen-md-min) {
    padding-bottom: 60px;
  }
}


// container

.container {
  @media (min-width: $screen-md-min) {
    width: 900px;
  }

  @media (min-width: $screen-lg-min) {
    width: 1020px;
  }
}


// lead

.lead {
  margin-bottom: 40px;
  font-family: 'archer', serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 1.2;
  text-transform: none;

  @media (min-width: $screen-sm-min) {
    font-size: 30px;
  }

  .small,
  small {
    font-size: 65%;
  }
}

.h1.lead, h1.lead { font-size: 30px; line-height: 1; @media (min-width: $screen-sm-min) { font-size: 45px; } }
.h2.lead, h2.lead { font-size: 25px; line-height: 1; @media (min-width: $screen-sm-min) { font-size: 37px; } }
.h3.lead, h3.lead { font-size: 21px; line-height: 1; @media (min-width: $screen-sm-min) { font-size: 30px; } }
.h4.lead, h4.lead { font-size: 17px; line-height: 1; @media (min-width: $screen-sm-min) { font-size: 25px; } }
.h5.lead, h5.lead { font-size: 15px; line-height: 1; @media (min-width: $screen-sm-min) { font-size: 22px; } }
.h6.lead, h6.lead { font-size: 13px; line-height: 1; @media (min-width: $screen-sm-min) { font-size: 19px; } }


// btn

.btn {
  padding: 5px 30px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 2em;
  transition: color .15s, background-color .15s, border-color .15s;

  .icon {
    width: 1.2em;
    height: 1.2em;
  }
}

.btn-group-xs > .btn,
.btn-xs {
  font-size: 12px;
}

.btn-group-sm > .btn,
.btn-sm {
  font-size: 16px;
}

.btn-group-lg > .btn,
.btn-lg {
  font-size: 24px;
}

.btn-red     { @include button-variant($white,    $red,    $red); }
.btn-yellow  { @include button-variant($white, $yellow, $yellow); }
.btn-blue    { @include button-variant($white,   $blue,   $blue); }
.btn-pink    { @include button-variant($white,   $pink,   $pink); }
.btn-green   { @include button-variant($white,  $green,  $green); }
.btn-orange  { @include button-variant($white, $orange, $orange); }
.btn-aqua    { @include button-variant($white,   $aqua,   $aqua); }
.btn-purple  { @include button-variant($white, $purple, $purple); }
.btn-brown   { @include button-variant($white,  $brown,  $brown); }
.btn-maroon  { @include button-variant($white, $maroon, $maroon); }
.btn-black   { @include button-variant($white,  $black,  $black); }
.btn-white   { @include button-variant($black,  $white,  $white); }
.btn-default { @extend .btn-brown; }

.btn-outline-red     { @include button-variant(    $red, transparent,    $red); }
.btn-outline-yellow  { @include button-variant( $yellow, transparent, $yellow); }
.btn-outline-blue    { @include button-variant(   $blue, transparent,   $blue); }
.btn-outline-pink    { @include button-variant(   $pink, transparent,   $pink); }
.btn-outline-green   { @include button-variant(  $green, transparent,  $green); }
.btn-outline-orange  { @include button-variant( $orange, transparent, $orange); }
.btn-outline-aqua    { @include button-variant(   $aqua, transparent,   $aqua); }
.btn-outline-purple  { @include button-variant( $purple, transparent, $purple); }
.btn-outline-brown   { @include button-variant(  $brown, transparent,  $brown); }
.btn-outline-maroon  { @include button-variant( $maroon, transparent, $maroon); }
.btn-outline-black   { @include button-variant(  $black, transparent,  $black); }
.btn-outline-white   { @include button-variant(  $white, transparent,  $white); }
.btn-outline-default { @extend .btn-outline-brown; }


// more

.more {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;

  .icon {
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    padding: .2em;
    color: #fff;
    background-color: rgba($black, .2);
    border-radius: 50%;
    vertical-align: middle;
    transition: background-color .15s;
  }

  &:hover {
    .icon {
      background-color: rgba($black, .3);
    }
  }
}


// form-control

.form-control {
  height: 40px;
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 1em;
}

textarea.form-control {
  padding-top: 15px;
  padding-bottom: 15px;
}


// form-group

.form-group {
  margin-bottom: 20px;
}


// form-inline

.form-inline {
  .form-group {
    + .form-group {
      @media (min-width: $screen-sm-min) {
        margin-left: 20px;
      }
    }
  }

  .form-control-static {
    display: block;
    min-height: 0;
    margin-top: -4px;
    margin-bottom: -4px;
    padding-top: 0;
    padding-bottom: 0;

    @media (min-width: $screen-sm-min) {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}


// checkbox, radio

.checkbox,
.radio,
.radio-inline {
  text-transform: none;

  label {
    text-transform: none;
  }
}


// nav

.nav {
  margin-bottom: 20px;
}

.nav-pills {
  > li {
    > a {
      display: block;
      height: 40px;
      padding: 5px 20px;
      font-size: 20px;
      line-height: 1.3;
      color: $brown;
      background-color: $white;
      border: 2px solid $brown;
      border-radius: 1em;
      transition: background-color .15s, border-color .15s, color .15s;

      &:focus,
      &:hover {
        color: $white;
        background-color: lighten($brown, 25%);
        border-color: lighten($brown, 25%);
      }
    }

    + li {
      margin-left: 10px;
    }

    &.active {
      > a,
      > a:focus,
      > a:hover {
        color: $white;
        background-color: $brown;
        border-color: $brown;
      }
    }
  }
}


// imgs

.img-rounded {
  border-radius: 10px;
}

.img-thumbnail {
  padding: 10px;
  background-color: #f2f1f0;
  border: none;
  border-radius: 10px;
}


// page-header

.page-header {
  margin-bottom: 30px;
  margin-top: 35px;
  padding-bottom: 0;
  letter-spacing: .07em;
  @include nice-border-brown;

  @media (min-width: $screen-md-min) {
    margin-bottom: 60px;
  }

  > .icon {
    float: left;
    width: 112px;
    height: 96px;
    margin-top: -20px;
    margin-left: -4px;
    padding-right: 16px;
    background-color: #fff;

    &.pull-right {
      margin-right: -4px;
      margin-left: 0;
      padding-right: 0;
      padding-left: 16px;
    }
  }
}

.page-header-with-secondary {
  @media (min-width: $screen-md-min) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}


// section-header

.section-header {
  @include clearfix;
  padding-bottom: 10px;
  margin-bottom: 20px;
  @include nice-border-brown;

  .icon {
    display: block;
    width: 72px;
    height: 72px;
    margin: 0 0 8px -4px;

    &.pull-left {
      float: left;
      margin: 0 8px 0 -4px;
    }

    &.pull-right {
      margin: 0 -4px 0 8px;
    }
  }
}


// event-header

.event-header {
  display: flex;
  align-items: center;
}

.event-header-column {
  flex: 1 1 auto;
  margin-left: 16px;

  &:first-child {
    flex: 0 0 auto;
    margin-left: 0;
  }
}


// breadcrumb

.breadcrumb {
  margin-bottom: 10px;
  padding: 0;
  font-family: 'archer', serif;
  background-color: transparent;

  a {
    color: inherit;
  }

  .page-header + & {
    margin-top: -10px;
    margin-bottom: 30px;
    font-size: 14px;

    @media (min-width: $screen-md-min) {
      margin-top: -40px;
      margin-bottom: 60px;
    }

    > li + li:before {
      color: $aqua;
    }
  }
}


// list-group

.list-group-item {
  margin-bottom: 15px;
  padding: 20px 30px;
  background-color: #f2f1f0;
  border: none;
  border-radius: 10px;

  &:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.list-group-item-heading {
  display: block;
  font-family: 'archer', serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  text-transform: none;
  transition: color .15s;

  &:last-child {
    margin-bottom: 0;
  }
}

.list-group-item-with-columns {
  display: flex;
  padding-right: 0;
  padding-left: 0;
}

.list-group-item-column {
  padding: 0 30px;
  @include nice-border-brown(0 0 0 2px);

  &:first-child {
    flex: 0 0 auto;
    border: none;
  }

  .icon {
    width: 2em;
    height: 2em;
  }
}

a.list-group-item {
  color: $brown;
  transition: color .15s, background-color .15s;

  &:focus,
  &:hover,
  &.active,
  &.active:focus,
  &.active:hover {
    color: $brown;
    background-color: darken(#f2f1f0, 3%);
  }
}

a.list-group-item-red {
  .list-group-item-heading {
    color: $red;
  }

  &:focus,
  &:hover,
  &.active,
  &.active:focus,
  &.active:hover {
    color: $white;
    background-color: $red;

    .list-group-item-heading {
      color: $white;
    }
  }
}

a.list-group-item-yellow {
  .list-group-item-heading {
    color: $yellow;
  }

  &:focus,
  &:hover,
  &.active,
  &.active:focus,
  &.active:hover {
    color: $white;
    background-color: $yellow;

    .list-group-item-heading {
      color: $white;
    }
  }
}

a.list-group-item-blue {
  .list-group-item-heading {
    color: $blue;
  }

  &:focus,
  &:hover,
  &.active,
  &.active:focus,
  &.active:hover {
    color: $white;
    background-color: $blue;

    .list-group-item-heading {
      color: $white;
    }
  }
}

a.list-group-item-pink {
  .list-group-item-heading {
    color: $pink;
  }

  &:focus,
  &:hover,
  &.active,
  &.active:focus,
  &.active:hover {
    color: $white;
    background-color: $pink;

    .list-group-item-heading {
      color: $white;
    }
  }
}

a.list-group-item-green {
  .list-group-item-heading {
    color: $green;
  }

  &:focus,
  &:hover,
  &.active,
  &.active:focus,
  &.active:hover {
    color: $white;
    background-color: $green;

    .list-group-item-heading {
      color: $white;
    }
  }
}

a.list-group-item-orange {
  .list-group-item-heading {
    color: $orange;
  }

  &:focus,
  &:hover,
  &.active,
  &.active:focus,
  &.active:hover {
    color: $white;
    background-color: $orange;

    .list-group-item-heading {
      color: $white;
    }
  }
}

a.list-group-item-aqua {
  .list-group-item-heading {
    color: $aqua;
  }

  &:focus,
  &:hover,
  &.active,
  &.active:focus,
  &.active:hover {
    color: $white;
    background-color: $aqua;

    .list-group-item-heading {
      color: $white;
    }
  }
}

a.list-group-item-purple {
  .list-group-item-heading {
    color: $purple;
  }

  &:focus,
  &:hover,
  &.active,
  &.active:focus,
  &.active:hover {
    color: $white;
    background-color: $purple;

    .list-group-item-heading {
      color: $white;
    }
  }
}

a.list-group-item-brown {
  .list-group-item-heading {
    color: $brown;
  }

  &:focus,
  &:hover,
  &.active,
  &.active:focus,
  &.active:hover {
    color: $white;
    background-color: $brown;

    .list-group-item-heading {
      color: $white;
    }
  }
}

a.list-group-item-maroon {
  .list-group-item-heading {
    color: $maroon;
  }

  &:focus,
  &:hover,
  &.active,
  &.active:focus,
  &.active:hover {
    color: $white;
    background-color: $maroon;

    .list-group-item-heading {
      color: $white;
    }
  }
}

a.list-group-item-white {
  .list-group-item-heading {
    color: $white;
  }

  &:focus,
  &:hover,
  &.active,
  &.active:focus,
  &.active:hover {
    color: $black;
    background-color: $white;

    .list-group-item-heading {
      color: $black;
    }
  }
}

a.list-group-item-black {
  .list-group-item-heading {
    color: $black;
  }

  &:focus,
  &:hover,
  &.active,
  &.active:focus,
  &.active:hover {
    color: $white;
    background-color: $black;

    .list-group-item-heading {
      color: $white;
    }
  }
}

a.list-group-item-solid-red,
a.list-group-item-solid-red:focus,
a.list-group-item-solid-red:hover {
  color: $white;
  background-color: $red;

  .list-group-item-heading {
    color: $white;
  }
}

a.list-group-item-solid-yellow,
a.list-group-item-solid-yellow:focus,
a.list-group-item-solid-yellow:hover {
  color: $white;
  background-color: $yellow;

  .list-group-item-heading {
    color: $white;
  }
}

a.list-group-item-solid-blue,
a.list-group-item-solid-blue:focus,
a.list-group-item-solid-blue:hover {
  color: $white;
  background-color: $blue;

  .list-group-item-heading {
    color: $white;
  }
}

a.list-group-item-solid-pink,
a.list-group-item-solid-pink:focus,
a.list-group-item-solid-pink:hover {
  color: $white;
  background-color: $pink;

  .list-group-item-heading {
    color: $white;
  }
}

a.list-group-item-solid-green,
a.list-group-item-solid-green:focus,
a.list-group-item-solid-green:hover {
  color: $white;
  background-color: $green;

  .list-group-item-heading {
    color: $white;
  }
}

a.list-group-item-solid-orange,
a.list-group-item-solid-orange:focus,
a.list-group-item-solid-orange:hover {
  color: $white;
  background-color: $orange;

  .list-group-item-heading {
    color: $white;
  }
}

a.list-group-item-solid-aqua,
a.list-group-item-solid-aqua:focus,
a.list-group-item-solid-aqua:hover {
  color: $white;
  background-color: $aqua;

  .list-group-item-heading {
    color: $white;
  }
}

a.list-group-item-solid-purple,
a.list-group-item-solid-purple:focus,
a.list-group-item-solid-purple:hover {
  color: $white;
  background-color: $purple;

  .list-group-item-heading {
    color: $white;
  }
}

a.list-group-item-solid-brown,
a.list-group-item-solid-brown:focus,
a.list-group-item-solid-brown:hover {
  color: $white;
  background-color: $brown;

  .list-group-item-heading {
    color: $white;
  }
}

a.list-group-item-solid-maroon,
a.list-group-item-solid-maroon:focus,
a.list-group-item-solid-maroon:hover {
  color: $white;
  background-color: $maroon;

  .list-group-item-heading {
    color: $white;
  }
}

a.list-group-item-solid-white,
a.list-group-item-solid-white:focus,
a.list-group-item-solid-white:hover {
  color: $black;
  background-color: $white;

  .list-group-item-heading {
    color: $black;
  }
}

a.list-group-item-solid-black,
a.list-group-item-solid-black:focus,
a.list-group-item-solid-black:hover {
  color: $white;
  background-color: $black;

  .list-group-item-heading {
    color: $white;
  }
}


// panel

.panel {
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: none;
}

.panel-heading {
  padding: 20px 30px;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f2f1f0;
}

.panel-title {
  font-family: 'archer', serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 1.2;
  text-transform: none;

  @media (min-width: $screen-sm-min) {
    font-size: 30px;
  }
}

.panel-body {
  padding: 30px;
}

.panel-group {
  .panel {
    border-radius: 10px;

    + .panel {
      margin-top: 15px;
    }
  }

  .panel-heading {
    + .panel-collapse {
      > .list-group,
      > .panel-body {
        border-top: none;
      }
    }
  }
}

.panel-red     { background-color:    $red; }
.panel-yellow  { background-color: $yellow; }
.panel-blue    { background-color:   $blue; }
.panel-pink    { background-color:   $pink; }
.panel-green   { background-color:  $green; }
.panel-orange  { background-color: $orange; }
.panel-aqua    { background-color:   $aqua; }
.panel-purple  { background-color: $purple; }
.panel-brown   { background-color:  $brown; }
.panel-maroon  { background-color: $maroon; }
.panel-white   { background-color:  $white; }
.panel-black   { background-color:  $black; }
.panel-default { background-color: #f2f1f0; }

.panel-red,
.panel-yellow,
.panel-blue,
.panel-pink,
.panel-green,
.panel-orange,
.panel-aqua,
.panel-purple,
.panel-brown,
.panel-maroon,
.panel-white,
.panel-black,
.panel-default {
  color: $white;

  > .panel-heading {
    color: $brown;
    background-color: #f2f1f0;

    a {
      color: inherit;
    }
  }

  .section-header {
    @include nice-border-white;
  }
}

.panel-white,
.panel-default {
  color: $brown;

  .section-header {
    @include nice-border-brown;
  }
}

.panel-white {
  .panel-heading + .panel-body {
    padding: 25px;
    background-color: $white;
    border: 5px solid #f2f1f0;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}


// well

.well {
  margin-bottom: 30px;
  padding: 20px;
  background-color: transparent;
  border-color: #f2f1f0;
  border-radius: 10px;
  border-width: 10px;
  box-shadow: none;
}

.well-sm {
  padding: 25px;
  border-width: 5px;
}

.well-no-padding {
  padding: 0;
}


// thumbnail

.thumbnail {
  position: relative;
  margin-bottom: 30px;
  padding: 0;
  border: none;
  border-radius: 10px;
  overflow: hidden;

  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    color: $white;
    background-color: rgba($black, .35);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    .section-header {
      @include nice-border-white;
    }
  }
}


// media

.media {
  margin-top: 0;
  margin-bottom: 60px;
  padding-bottom: 10px;
  @include nice-border-brown;

  .media-list & {
    margin-bottom: 20px;
    border-bottom: none;
  }
}

.media-body,
.media-left,
.media-right {
  display: block;

  @media (min-width: $screen-sm-min) {
    display: table-cell;
  }
}

.media-body {
  width: auto;

  @media (min-width: $screen-sm-min) {
    width: 10000px;
  }
}

.media-left {
  padding-right: 0;
  padding-bottom: 20px;

  @media (min-width: $screen-sm-min) {
    padding-right: 30px;
    padding-bottom: 0;
  }
}

.media-right {
  padding-left: 0;
  padding-bottom: 20px;

  @media (min-width: $screen-sm-min) {
    padding-left: 30px;
    padding-bottom: 0;
  }
}

.media-object {
  margin-bottom: 10px;

  @media (min-width: $screen-sm-min) {
    width: 200px;
    max-width: none;
  }
}

.media-heading {
  font-family: 'archer', serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 1.2;
  text-transform: none;

  @media (min-width: $screen-sm-min) {
    font-size: 30px;
  }
}


// badge

.badge {
  padding: 5px 7px;
  color: $brown;
  background-color: #f2f1f0;

  &.pull-right {
    margin-left: 6px;
  }

  &.pull-left {
    margin-right: 6px;
  }

  &.text-colour-red    { background-color: lighten($red   , 23%) !important; }
  &.text-colour-yellow { background-color: lighten($yellow, 23%) !important; }
  &.text-colour-blue   { background-color: lighten($blue  , 23%) !important; }
  &.text-colour-pink   { background-color: lighten($pink  , 23%) !important; }
  &.text-colour-green  { background-color: lighten($green , 23%) !important; }
  &.text-colour-orange { background-color: lighten($orange, 23%) !important; }
  &.text-colour-aqua   { background-color: lighten($aqua  , 23%) !important; }
  &.text-colour-purple { background-color: lighten($purple, 23%) !important; }
  &.text-colour-brown  { background-color: lighten($brown , 23%) !important; }
  &.text-colour-maroon { background-color: lighten($maroon, 23%) !important; }
  &.text-colour-white  { background-color: lighten($white , 23%) !important; }
  &.text-colour-black  { background-color: lighten($black , 23%) !important; }
}


// list-unstyled

.list-unstyled {
  > li {
    margin-bottom: 6px;

    > a {
      display: block;
      color: $brown;
    }
  }
}


// table

.table-striped {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > td,
      > th {
        border-top: none;
      }
    }
  }

  > thead {
    > tr {
      > td,
      > th {
        text-transform: uppercase;
      }

      > th {
        border-bottom: none;
      }

      + tr {
        > td,
        > th {
          border-top: 1px solid lighten($brown, 35%);
        }
      }
    }
  }

  > tbody {
    > tr {
      &:nth-of-type(odd) {
        background-color: #f2f1f0;
      }

      > td,
      > th {
        border-left: 1px solid lighten($brown, 35%);

        &:first-child {
          border-left: none;
        }
      }
    }
  }
}


// site-map-menu

.site-map-menu {
  @include nice-border-white(2px 0 0 0);
  display: none;
  padding: 12px 0 0;
  font-family: 'archer', serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  list-style: none;
  text-transform: uppercase;

  @media (min-width: $screen-sm-min) {
    display: flex;
  }

  > li {
    width: 25%;
    padding-right: 16px;

    > a {
      display: block;
      margin-bottom: 20px;
      padding-left: 8px;
      border-left: 2px solid #a39b93;
    }
  }
}

.site-map-submenu {
  padding: 0 0 0 10px;
  font-family: 'gotham', sans-serif;
  font-weight: normal;
  list-style: none;
  text-transform: none;

  > li {
    margin-bottom: 16px;

    > a {
      display: block;
    }
  }
}


// social-heading

.social-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: right;
  width: 10em;
  height: 10em;
  margin: -45px -35px 10px 10px;
  padding: 1.5em 1.5em 2.25em;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $screen-sm-min) {
    margin: -55px -45px 10px 10px;
    font-size: 12px;
  }

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .text {
    position: relative;
  }
}


// social-menu

.social-menu {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .1em;
  list-style: none;
  text-transform: uppercase;

  li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: block;
  }
  
  .icon {
    width: 2em;
    height: 2em;
    margin-right: .5em;
    vertical-align: middle;
  }
}

.social-menu-inline {
  li {
    display: inline-block;
    margin-right: 25px;
  }
}


// share-panel

.share-panel {
  padding: 30px 0;
  background-color: #f2f1f0;
}


// icon-list

.icon-list {
  margin: 0 -20px;

  img {
    margin: 0 20px 20px;
    vertical-align: middle;
  }
}

.icon-list-large {
  @media (min-width: $screen-md-min) {
    margin: 0 -40px;
  }

  img {
    margin: 20px;

    @media (min-width: $screen-md-min) {
      margin: 40px;
    }
  }
}


// stacked-date

.stacked-date {
  display: inline-block;
  min-width: 54px;
  font-family: 'archer', serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  .list-group-item & {
    padding: 10px 0;
  }
}

.stacked-date-month {
  display: block;
}

.stacked-date-day {
  display: block;
  font-size: 3.33333em;
}


// footer-logo

.footer-logo {
  margin-bottom: 36px;

  img {
    width: 179px;
    height: 72px;

    @media (min-width: $screen-sm-min) {
      width: 229px;
      height: 92px;
    }
  }
}


// playstars-logo

.playstars-logo {
  width: 137px;
  height: 80px;

  @media (min-width: $screen-md-min) {
    width: 209px;
    height: 113px;
  }

  .well .section-header & {
    @media (min-width: $screen-md-min) {
      margin-top: -50px;
      margin-right: -30px;
    }
  }
}


// text-colours

.text-colour-red    { color: $red    !important; }
.text-colour-yellow { color: $yellow !important; }
.text-colour-blue   { color: $blue   !important; }
.text-colour-pink   { color: $pink   !important; }
.text-colour-green  { color: $green  !important; }
.text-colour-orange { color: $orange !important; }
.text-colour-aqua   { color: $aqua   !important; }
.text-colour-purple { color: $purple !important; }
.text-colour-brown  { color: $brown  !important; }
.text-colour-maroon { color: $maroon !important; }
.text-colour-white  { color: $white  !important; }
.text-colour-black  { color: $black  !important; }


// dots-above

.dots-above {
  &:before {
    content: "";
    display: block;
    width: 32px;
    height: 0;
    margin-bottom: 12px;
    @include nice-border-brown;
  }
}
