{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1 class="text-colour-aqua">Contact Us</h1>
    </div>

    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Contact Us</li>
    </ol>

    <div class="page-content">
      <div class="row">
        <div class="col-md-6">
          <dl>
            <dt>Hours</dt>
              <dd>9am — 5pm, Monday — Friday</dd>
            <dt>Mail or visit</dt>
              <dd>346 Albert St, Brunswick, 3056</dd>
            <dt>Phone</dt>
              <dd>1800 171 882 toll free (within Victoria) <br>or (03) 9388 1599 (outside Victoria)</dd>
            <dt>Email</dt>
              <dd>General enquiries to <a href="mailto:pgvic@playgroup.org.au">pgvic@playgroup.org.au</a></dd>
          </dl>
        </div>
        <div class="col-md-6">
          <div class="well well-no-padding">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.9367993669125!2d144.95163231623073!3d-37.768080079760644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65cb6c508751d%3A0xdf702365105a32b0!2s346+Albert+St%2C+Brunswick+VIC+3056!5e0!3m2!1sen!2sau!4v1479255242333" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-6">
          <form>
            <div class="form-group">
              <label for="exampleInputName1">Name</label>
              <input type="text" class="form-control" id="exampleInputName1">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="form-group">
              <label for="exampleInputPhone1">Phone</label>
              <input type="text" class="form-control" id="exampleInputPhone1">
            </div>
            <div class="form-group">
              <label for="exampleInputMessage1">Message</label>
              <textarea class="form-control" id="exampleInputMessage1" rows="6"></textarea>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p><button type="submit" class="btn btn-aqua btn-block">Submit</button></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
