{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <svg class="icon text-colour-yellow" role="presentation">
        <use xlink:href="images/sprite-icons.svg#bubble-playgroup"></use>
      </svg>
      <h1>Welcome Anne</h1>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="page-content">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-with-columns list-group-item-solid-yellow">
              <div class="list-group-item-column">
                <svg class="icon" role="presentation">
                  <use xlink:href="images/sprite-icons.svg#user"></use>
                </svg>
              </div>
              <div class="list-group-item-column">
                <span class="list-group-item-heading">Update My Family’s Information</span>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-with-columns list-group-item-solid-aqua">
              <div class="list-group-item-column">
                <svg class="icon" role="presentation">
                  <use xlink:href="images/sprite-icons.svg#location"></use>
                </svg>
              </div>
              <div class="list-group-item-column">
                <span class="list-group-item-heading">Find a Playgroup near me</span>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-with-columns list-group-item-solid-pink">
              <div class="list-group-item-column">
                <svg class="icon" role="presentation">
                  <use xlink:href="images/sprite-icons.svg#power"></use>
                </svg>
              </div>
              <div class="list-group-item-column">
                <span class="list-group-item-heading">Start a new Playgroup Kit</span>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-with-columns list-group-item-solid-blue">
              <div class="list-group-item-column">
                <svg class="icon" role="presentation">
                  <use xlink:href="images/sprite-icons.svg#playgroup"></use>
                </svg>
              </div>
              <div class="list-group-item-column">
                <span class="list-group-item-heading">Membership Benefits</span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="page-content">
          <p class="lead">The first three years of your child's life is crucial for their development, and you are their first and most important teacher. You can help your child's intellectual and social development by participating in a local playgroup.</p>
          <p><a class="btn btn-default" href="#">Learn more</a></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="page-content">
          <h3 class="section-header lead">Your Playgroup Resources</h3>
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-green">
              <span class="list-group-item-heading dots-above">Play Activities &amp; Resources</span>
            </a>
            <a href="#" class="list-group-item list-group-item-orange">
              <span class="list-group-item-heading dots-above">Playgroup Activities</span>
            </a>
            <a href="#" class="list-group-item list-group-item-red">
              <span class="list-group-item-heading dots-above">Get Baby Idea Pinspiration</span>
            </a>
            <a href="#" class="list-group-item list-group-item-purple">
              <span class="list-group-item-heading dots-above">Explore other Playgroup Victoria Programs</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
