{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1 class="text-colour-aqua">Our Events Calendar</h1>
    </div>

    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Parent page</a></li>
      <li class="active">Our Events Calendar</li>
    </ol>

    <div class="row">
      <div class="col-md-8">
        <p class="pull-right">
          <a class="more" href="#">
            <svg class="icon" role="presentation">
              <use xlink:href="images/sprite-icons.svg#arrow-left"></use>
            </svg>
          </a>
          <a class="more" href="#">
            <svg class="icon" role="presentation">
              <use xlink:href="images/sprite-icons.svg#arrow-right"></use>
            </svg>
          </a>
        </p>
        <h2 class="h3 lead">August 2016</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="page-content">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-with-columns">
              <div class="list-group-item-column">
                <span class="stacked-date text-colour-aqua">
                  <span class="stacked-date-month">Aug</span>
                  <span class="stacked-date-day">8</span>
                </span>
              </div>
              <div class="list-group-item-column">
                <h4>Romp &amp; Stomp 2016</h4>
                <p>Accusamus et iusto odio dignissimos ducimus qui blanditiis occaecati cupiditate non provident...</p>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-with-columns">
              <div class="list-group-item-column">
                <span class="stacked-date text-colour-aqua">
                  <span class="stacked-date-month">Aug</span>
                  <span class="stacked-date-day">15</span>
                </span>
              </div>
              <div class="list-group-item-column">
                <h4>Romp &amp; Stomp 2016</h4>
                <p>Accusamus et iusto odio dignissimos ducimus qui blanditiis occaecati cupiditate non provident...</p>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-with-columns">
              <div class="list-group-item-column">
                <span class="stacked-date text-colour-aqua">
                  <span class="stacked-date-month">Aug</span>
                  <span class="stacked-date-day">25</span>
                </span>
              </div>
              <div class="list-group-item-column">
                <h4>Romp &amp; Stomp 2016</h4>
                <p>Accusamus et iusto odio dignissimos ducimus qui blanditiis occaecati cupiditate non provident...</p>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-with-columns">
              <div class="list-group-item-column">
                <span class="stacked-date text-colour-aqua">
                  <span class="stacked-date-month">Aug</span>
                  <span class="stacked-date-day">28</span>
                </span>
              </div>
              <div class="list-group-item-column">
                <h4>Romp &amp; Stomp 2016</h4>
                <p>Accusamus et iusto odio dignissimos ducimus qui blanditiis occaecati cupiditate non provident...</p>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-with-columns">
              <div class="list-group-item-column">
                <span class="stacked-date text-colour-aqua">
                  <span class="stacked-date-month">Aug</span>
                  <span class="stacked-date-day">31</span>
                </span>
              </div>
              <div class="list-group-item-column">
                <h4>Romp &amp; Stomp 2016</h4>
                <p>Accusamus et iusto odio dignissimos ducimus qui blanditiis occaecati cupiditate non provident...</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="page-content">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-aqua">
              <span class="list-group-item-heading dots-above">September 2016</span>
            </a>
            <a href="#" class="list-group-item list-group-item-aqua">
              <span class="list-group-item-heading dots-above">October 2016</span>
            </a>
            <a href="#" class="list-group-item list-group-item-aqua">
              <span class="list-group-item-heading dots-above">November 2016</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
