{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <p class="h1 text-colour-aqua">Our Events Calendar</p>
    </div>

    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Parent page</a></li>
      <li><a href="#">Our Events Calendar</a></li>
      <li class="active">Our Events Calendar</li>
    </ol>

    <div class="row">
      <div class="col-md-8">
        <div class="event-header">
          <div class="event-header-column">
            <div class="panel panel-default">
              <div class="panel-body">
                <span class="stacked-date text-colour-aqua">
                  <span class="stacked-date-month">Aug</span>
                  <span class="stacked-date-day">8</span>
                </span>
              </div>
            </div>
          </div>
          <div class="event-header-column">
            <h1 class="h2 section-header lead">Romp &amp; Stomp 2016</h1>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <p><a class="btn btn-outline-default btn-block" href="#">Back to calendar</a></p>
        <p><a class="btn btn-aqua btn-block" href="#">Buy tickets</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="page-content">
          <p class="lead">At vero eos et accusamus et iusto odio ducimus qui blanditiis praesentium voluptatum.</p>
          <div class="row">
            <div class="col-md-6 col-md-push-6">
              <dl class="bordered">
                <dt class="text-colour-aqua">When</dt>
                  <dd>August 8, 2016 <br>9:30 AM – 12:30 PM</dd>
                <dt class="text-colour-aqua">Where</dt>
                  <dd>Collingwood College <br>Cnr McCutcheon Way &amp; <br>Cromwell St, Collingwood</dd>
                <dt class="text-colour-aqua">RSVP</dt>
                  <dd>By 00/00/00</dd>
                <dt class="text-colour-aqua">Contact</dt>
                  <dd>Shelley Falzon <br>T 8327 8500 <br>E <a href="mailto:shelley.falzon@pv.org.au">shelley.falzon@pv.org.au</a></dd>
              </dl>
            </div>
            <div class="col-md-6 col-md-pull-6">
              <h4>A Playgroup Victoria event</h4>
              <p>How can you compete in the increasingly tight market for volunteers? Or encourage people to volunteer more of their time?</p>
              <p>What about recruiting Gen Y’s? And, once you’ve got them, what’s the key to making them want to stay? Understanding  your volunteers and having a sound  volunteer recruitment process will help you find the right volunteers – and keep them.</p>
              <br>
              <h4>Learning outcomes</h4>
              <p>At the end of the workshop participants will be able to:</p>
              <ul>
                <li>Understand recruitment and retention in line with the National Standards for Involving Volunteers in Not for Profit Organisations</li>
                <li>Develop your own comprehensive recruitment channels</li>
                <li>Learn strategies for recruitment &amp; retention for any demographic</li>
                <li>Develop positive networks</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="page-content">
          <p><a href="#"><img class="img-thumbnail" src="images/example-map.jpg"></a></p>
          <p class="text-center text-uppercase"><a href="#">Show in Google Maps</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
