{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <svg class="icon pull-right text-colour-aqua" role="presentation">
        <use xlink:href="images/sprite-icons.svg#bubble-location"></use>
      </svg>
      <h1 class="text-colour-aqua">Find a Playgroup</h1>
    </div>

    <div class="page-content">
      <div class="row">
        <div class="col-md-4">
          <form>
            <div class="form-group">
              <label for="exampleInputSuburb1">Suburb</label>
              <input type="text" class="form-control" id="exampleInputSuburb1">
            </div>
            <div class="form-group">
              <label for="exampleInputDistance1">Within</label>
              <select class="form-control" id="exampleInputDistance1">
                <option>kms</option>
                <option>1 kms</option>
                <option>2 kms</option>
                <option>3 kms</option>
                <option>4 kms</option>
                <option>5 kms</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputType1">Playgroup type <small>(optional)</small></label>
              <select class="form-control" id="exampleInputType1">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputWhen1">When</label>
              <div class="row">
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Weekdays
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Weekends
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Mondays
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Tuesdays
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Wednesdays
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Thursdays
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Fridays
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <p><button type="submit" class="btn btn-default btn-block">Search now</button></p>
            <p><a href="#">Advanced search</a></p>
          </form>
        </div>

        <div class="col-md-8">
          <br>
          <div class="well well-no-padding">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.9367993669125!2d144.95163231623073!3d-37.768080079760644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65cb6c508751d%3A0xdf702365105a32b0!2s346+Albert+St%2C+Brunswick+VIC+3056!5e0!3m2!1sen!2sau!4v1479255242333" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
