{% extends "layouts/default.njk" %}

{% set bodyClass = 'template-home' %}

{% block content %}
  <div class="page-banner">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active" style="background-image:url(images/example-slide.jpg)">
          <img src="images/example-slide.jpg" alt="Example alt text">
        </div>
        <div class="item" style="background-image:url(images/example-slide.jpg)">
          <img src="images/example-slide.jpg" alt="Example alt text">
        </div>
      </div>
    </div>
    <div class="bubble bubble-cloud">
      <svg class="icon text-colour-yellow" role="presentation">
        <use xlink:href="images/sprite-icons.svg#bubble-thought"></use>
      </svg>
      <span class="text">Have fun with parents like&nbsp;you</span>
    </div>
    <div class="bubble">
      <svg class="icon text-colour-purple" role="presentation">
        <use xlink:href="images/sprite-icons.svg#bubble-bottom-right"></use>
      </svg>
      <span class="text">It's fantastic!</span>
    </div>
  </div>

  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="lead">A Playgroup is ipsum dolor sit amet, consectetur adipiscin</h1>
        </div>
      </div>

      <div class="row row-md-equal-height">
        <div class="col-md-8">
          <div class="panel panel-aqua">
            <div class="panel-body">
              <h3 class="section-header">
                <svg class="icon text-colour-white pull-right" role="presentation">
                  <use xlink:href="images/sprite-icons.svg#bubble-location"></use>
                </svg>
                Find a Playgroup
              </h3>
              <form>
                <label for="exampleInputSuburb1">Suburb</label>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" class="form-control" id="exampleInputSuburb1" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-inline">
                      <div class="form-group">
                        <label class="sr-only" for="exampleInputDistance1">Distance</label>
                        <span class="form-control-static">within</span>
                      </div>
                      <div class="form-group">
                        <select class="form-control" id="exampleInputDistance1">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <span class="form-control-static">kms</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="exampleInputType1">Playgroup Type <small>(optional)</small></label>
                      <select class="form-control" id="exampleInputType1">
                        <option></option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <button type="submit" class="btn btn-default btn-block">Search now</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well">
            <p><img src="images/example-image.png" alt="Example alt text"></p>
            <h3 class="section-header"><span class="text-colour-pink">1<sup>st</sup> year free</span> membership</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            <p><a class="btn btn-pink btn-block" href="#">Join for free</a></p>
          </div>
        </div>
      </div>

      <div class="well">
        <div class="row">
          <div class="col-md-4">
            <h3 class="h2 section-header lead text-colour-blue">
              <svg class="icon text-colour-yellow pull-left" role="presentation">
                <use xlink:href="images/sprite-icons.svg#bubble-playgroup"></use>
              </svg>
              Renew my Playgroup Membership
            </h3>
          </div>
          <div class="col-md-4">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti</p>
          </div>
          <div class="col-md-4">
            <p class="h2 section-header lead"><span class="text-colour-blue">Only $40 per yr</span> <br><small>with $200 worth of extras</small></p>
            <p><a class="btn btn-yellow btn-block" href="#">Renew now</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section page-section-secondary">
    <div class="container">
      <div class="row row-md-equal-height">
        <div class="col-md-4">
          <div class="panel panel-white">
            <div class="panel-body">
              <h2 class="section-header lead"><span class="text-colour-orange">What is Playgroup?</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>
              <br>
              <a class="more text-colour-orange" href="#">
                <svg class="icon" role="presentation">
                  <use xlink:href="images/sprite-icons.svg#arrow-right"></use>
                </svg>
                Learn more
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="thumbnail">
            <img src="images/example-thumbnail.jpg" alt="Example alt text">
            <div class="caption">
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="h2 section-header lead">Start a Playgroup</h3>
                </div>
                <div class="col-sm-6 text-right">
                  <a class="more" href="#">
                    <svg class="icon" role="presentation">
                      <use xlink:href="images/sprite-icons.svg#arrow-right"></use>
                    </svg>
                    Learn more
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-purple">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <h3 class="h2 section-header lead">Why I love Playgroup</h3>
            </div>
            <div class="col-md-8">
              <blockquote>
                <p>It's nice to be with other grandmothers. At our grandparents playgroup we're on the same wavelength.</p>
                <footer><cite title="Betty G.">Betty G.</cite> &mdash; Richmond</footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-md-equal-height">
        <div class="col-md-4">
          <div class="panel panel-brown">
            <div class="panel-body">
              <div class="bubble bubble-cloud bubble-latest-news">
                <svg class="icon text-colour-aqua" role="presentation">
                  <use xlink:href="images/sprite-icons.svg#bubble-idea"></use>
                </svg>
                <span class="text">Latest News</span>
              </div>
              <h2 class="section-header lead"><img src="images/logo-inverse.svg" width="229" height="92" alt="Playgroup Victoria"></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</p>
              <a class="more" href="#">
                <svg class="icon" role="presentation">
                  <use xlink:href="images/sprite-icons.svg#arrow-right"></use>
                </svg>
                Read all articles
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="thumbnail">
            <img src="images/example-thumbnail.jpg" alt="Example alt text">
            <div class="caption">
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="h2 section-header lead">Play Activities</h3>
                </div>
                <div class="col-sm-6 text-right">
                  <a class="more" href="#">
                    <svg class="icon" role="presentation">
                      <use xlink:href="images/sprite-icons.svg#arrow-right"></use>
                    </svg>
                    Learn more
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section">
    <div class="container">
      <div class="row row-md-align-bottom">
        <div class="col-md-4">
          <p class="h1 lead"><img src="images/logo.svg" width="229" height="92" alt="Playgroup Victoria"></p>
        </div>
        <div class="col-md-8">
          <p class="h1 lead text-colour-aqua">Let’s get social. Join today&hellip;</p>
        </div>
      </div>

      <ul class="tertiary-nav-menu">
        <li>
          <a href="#">
            <span class="icon-wrap">
              <svg class="icon text-colour-aqua" role="presentation">
                <use xlink:href="images/sprite-icons.svg#bubble-location"></use>
              </svg>
            </span>
            <span class="text">Find a <br>Playgroup</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-wrap">
              <svg class="icon text-colour-pink" role="presentation">
                <use xlink:href="images/sprite-icons.svg#bubble-power"></use>
              </svg>
            </span>
            <span class="text">Register a <br>Playgroup</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon-wrap">
              <svg class="icon text-colour-yellow" role="presentation">
                <use xlink:href="images/sprite-icons.svg#bubble-playgroup"></use>
              </svg>
            </span>
            <span class="text">Join <br>Playgroup <br>Victoria</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="page-section page-section-secondary">
    <div class="container text-center">
      <h4>Supported by</h4>
      <div class="icon-list icon-list-large">
        <img src="images/supporter-aus-government.png" alt="Australian Government" width="182" height="94">
        <img src="images/supporter-vic-government.png" alt="Victoria State Government" width="143" height="82">
        <img src="images/supporter-ecostore.png" alt="ecostore" width="187" height="32">
      </div>
    </div>
  </div>

{% endblock %}
