{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <svg class="icon pull-right text-colour-yellow" role="presentation">
        <use xlink:href="images/sprite-icons.svg#bubble-playgroup"></use>
      </svg>
      <h1 class="text-colour-yellow">Join Playgroup Victoria</h1>
    </div>

    <div class="page-content">
      <div class="well">
        <div class="row">
          <div class="col-md-4">
            <h2 class="h1 section-header lead text-colour-blue">
              <img class="pull-right playstars-logo" src="images/playstars.png" width="209" height="113">
              <svg class="icon text-colour-yellow" role="presentation">
                <use xlink:href="images/sprite-icons.svg#bubble-playgroup"></use>
              </svg>
              Welcome to&nbsp;Playstars!
            </h2>
          </div>
          <div class="col-md-8">
            <br>
            <p class="lead">You are eligible for a 12 month <span class="text-colour-yellow">FREE Membership</span> to Playgroup Victoria</p>
            <div class="icon-list">
              <img src="images/supporter-aus-government.png" alt="Australian Government" width="121" height="63">
              <img src="images/supporter-vic-government.png" alt="Victoria State Government" width="96" height="55">
              <img src="images/supporter-ecostore.png" alt="ecostore" width="125" height="22">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <p><a class="btn btn-yellow btn-block" href="#">Join Now</a></p>
        </div>
        <div class="col-md-8">
          <p>By completing this Membership Form, you are agreeing to Playgroup&nbsp;Victoria Membership <a href="#">Terms &amp; Conditions</a> and <a href="#">Privacy Policy</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
