{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <svg class="icon pull-right text-colour-yellow" role="presentation">
        <use xlink:href="images/sprite-icons.svg#bubble-playgroup"></use>
      </svg>
      <h1>Join Playgroup Victoria</h1>
    </div>

    <div class="page-content">
      <p class="lead">Join Playgroup Victoria as:</p>

      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <p class="lead dots-above"><span class="text-colour-yellow">An Individual</span> <br>or <br><span class="text-colour-yellow">A Family</span></p>
              <p><a class="btn btn-yellow" href="#">Join</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <p class="lead dots-above"><span class="text-colour-pink">A Professional</span> <br>or <br><span class="text-colour-pink">An Agency</span></p>
              <p><a class="btn btn-pink" href="#">Join</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <p class="lead dots-above"><span class="text-colour-orange">Register <br>a <br>Playgroup</span></p>
              <p><a class="btn btn-orange" href="#">Join</a></p>
            </div>
          </div>
        </div>
      </div>

      <br>
      <span class="dots-above"></span>

      <div class="row">
        <div class="col-md-8">
          <p class="lead">Or you can become a Playgroup Victoria Volunteer&hellip;</p>
        </div>
        <div class="col-md-4">
          <p><a class="btn btn-maroon btn-block" href="#">Join as a volunteer</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
