{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <svg class="icon pull-right text-colour-yellow" role="presentation">
        <use xlink:href="images/sprite-icons.svg#bubble-playgroup"></use>
      </svg>
      <h1 class="text-colour-yellow">Join Playgroup Victoria</h1>
    </div>

    <div class="page-content">
      <p class="lead text-colour-yellow">Become a member today and join the 10,000 families that use Playgroups as an exciting starting point for their children’s development. <br>So whether you are a family, school or organisation, we have a membership to suit you and your family’s needs.</p>

      <label>I would like to join as:</label>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" value="option1" checked>
                A Professional
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" value="option1">
                An Agency
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p><a class="btn btn-yellow btn-block" href="#">Join Now</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
