{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <svg class="icon pull-right text-colour-yellow" role="presentation">
        <use xlink:href="images/sprite-icons.svg#bubble-playgroup"></use>
      </svg>
      <h1>Individual membership</h1>
    </div>

    <div class="page-content">
      <div class="row">
        <div class="col-md-8">
          <p class="lead">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
          <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
          <br>
          <h4>At vero eos et</h4>
          <p>Accusamus et iusto odio dignissimos ducimus qui blanditiis:</p>
          <ul>
            <li>praesentium voluptatum</li>
            <li>deleniti atque</li>
            <li>corrupti quos dolores</li>
            <li>et quas molestias</li>
          </ul>
          <p>Excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
          <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
          <br>
          <div class="row">
            <div class="col-md-6">
              <p><a class="btn btn-yellow btn-block" href="#">Join Now</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-yellow">
              <span class="list-group-item-heading dots-above">Family Membership</span>
            </a>
            <a href="#" class="list-group-item list-group-item-pink">
              <span class="list-group-item-heading dots-above">Professional Membership</span>
            </a>
            <a href="#" class="list-group-item list-group-item-maroon">
              <span class="list-group-item-heading dots-above">Agency Membership</span>
            </a>
            <a href="#" class="list-group-item list-group-item-green">
              <span class="list-group-item-heading dots-above">Membership Packages</span>
            </a>
            <a href="#" class="list-group-item list-group-item-blue">
              <span class="list-group-item-heading dots-above">Renew your current Membership</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
