{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <svg class="icon pull-right text-colour-yellow" role="presentation">
        <use xlink:href="images/sprite-icons.svg#bubble-playgroup"></use>
      </svg>
      <h1>About our memberships</h1>
    </div>

    <div class="page-content">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th class="text-center text-colour-orange">Individual</th>
              <th class="text-center text-colour-yellow">Family</th>
              <th class="text-center text-colour-pink">Professional</th>
              <th class="text-center text-colour-maroon">Agency</th>
            </tr>
            <tr>
              <th></th>
              <th class="text-center text-colour-orange">$00.00</th>
              <th class="text-center text-colour-yellow">$00.00</th>
              <th class="text-center text-colour-pink">$00.00</th>
              <th class="text-center text-colour-maroon">$00.00</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Lorem ipsum</td>
              <td class="text-center text-colour-orange">&check;</td>
              <td class="text-center text-colour-yellow">&check;</td>
              <td class="text-center text-colour-pink">&check;</td>
              <td class="text-center text-colour-maroon">&check;</td>
            </tr>
            <tr>
              <td>Dolor sit amet</td>
              <td class="text-center text-colour-orange">&check;</td>
              <td class="text-center text-colour-yellow">&check;</td>
              <td class="text-center text-colour-pink">&check;</td>
              <td class="text-center text-colour-maroon">&check;</td>
            </tr>
            <tr>
              <td>Consectetur adipiscing</td>
              <td class="text-center text-colour-orange">&check;</td>
              <td class="text-center text-colour-yellow">&check;</td>
              <td class="text-center text-colour-pink">&check;</td>
              <td class="text-center text-colour-maroon">&check;</td>
            </tr>
            <tr>
              <td>Elit sed do</td>
              <td class="text-center text-colour-orange">&check;</td>
              <td class="text-center text-colour-yellow">&check;</td>
              <td class="text-center text-colour-pink">&check;</td>
              <td class="text-center text-colour-maroon">&check;</td>
            </tr>
            <tr>
              <td>Eiusmod tempor dolor</td>
              <td class="text-center text-colour-orange">&check;</td>
              <td class="text-center text-colour-yellow">&check;</td>
              <td class="text-center text-colour-pink">&check;</td>
              <td class="text-center text-colour-maroon">&check;</td>
            </tr>
            <tr>
              <td>Sit amet consectetur</td>
              <td class="text-center text-colour-orange">&check;</td>
              <td class="text-center text-colour-yellow">&check;</td>
              <td class="text-center text-colour-pink">&check;</td>
              <td class="text-center text-colour-maroon">&check;</td>
            </tr>
            <tr>
              <td>Lorem ipsum</td>
              <td class="text-center text-colour-orange">&check;</td>
              <td class="text-center text-colour-yellow">&check;</td>
              <td class="text-center text-colour-pink">&check;</td>
              <td class="text-center text-colour-maroon">&check;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="page-content">
      <div class="row">
        <div class="col-md-8">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-orange">
              <span class="list-group-item-heading dots-above">Individual Membership</span>
            </a>
            <a href="#" class="list-group-item list-group-item-yellow">
              <span class="list-group-item-heading dots-above">Family Membership – includes insurance</span>
            </a>
            <a href="#" class="list-group-item list-group-item-pink">
              <span class="list-group-item-heading dots-above">Professional Membership</span>
            </a>
            <a href="#" class="list-group-item list-group-item-maroon">
              <span class="list-group-item-heading dots-above">Agency Membership</span>
            </a>
            <a href="#" class="list-group-item list-group-item-green">
              <span class="list-group-item-heading dots-above">Membership Packages</span>
            </a>
            <a href="#" class="list-group-item list-group-item-blue">
              <span class="list-group-item-heading dots-above">Renew your current Membership</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
