{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <svg class="icon pull-right text-colour-yellow" role="presentation">
        <use xlink:href="images/sprite-icons.svg#bubble-playgroup"></use>
      </svg>
      <h1 class="text-colour-yellow">Register with an invitation code</h1>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="page-content">
          <form>
            <div class="form-group">
              <label for="exampleInputText1">Invitation code</label>
              <input type="text" class="form-control" id="exampleInputText1">
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> I have an existing account
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-yellow btn-block">Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
