{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <svg class="icon pull-right text-colour-yellow" role="presentation">
        <use xlink:href="images/sprite-icons.svg#bubble-playgroup"></use>
      </svg>
      <h1 class="text-colour-yellow">Register as a member</h1>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="page-content">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
              <label for="exampleInputPasswordConfirmation1">Confirm Password</label>
              <input type="password" class="form-control" id="exampleInputPasswordConfirmation1">
            </div>
            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-yellow btn-block">Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
