{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1 class="text-colour-aqua">Research</h1>
    </div>

    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Research</li>
    </ol>

    <div class="page-content">
      <div class="row">
        <div class="col-md-8">
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">State of Early Learning in Australia Report 2016</h4>
              <h5 class="text-colour-aqua">About a month ago</h5>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident&hellip;</p>
              <p><a href="#">Continue reading&hellip;</a></p>
              <svg class="icon text-colour-purple pull-left" role="presentation">
                <use xlink:href="images/sprite-icons.svg#tags"></use>
              </svg>
              <ul class="breadcrumb">
                <li><a href="#">dads</a></li>
                <li><a href="#">fathers</a></li>
                <li><a href="#">play</a></li>
                <li><a href="#">playgroup</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object img-rounded" src="images/example-thumbnail.jpg" alt="Example alt text">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">State of Early Learning in Australia Report 2016</h4>
              <h5 class="text-colour-aqua">About a month ago</h5>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident&hellip;</p>
              <p><a href="#">Continue reading&hellip;</a></p>
              <svg class="icon text-colour-purple pull-left" role="presentation">
                <use xlink:href="images/sprite-icons.svg#tags"></use>
              </svg>
              <ul class="breadcrumb">
                <li><a href="#">dads</a></li>
                <li><a href="#">fathers</a></li>
                <li><a href="#">play</a></li>
                <li><a href="#">playgroup</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">State of Early Learning in Australia Report 2016</h4>
              <h5 class="text-colour-aqua">About a month ago</h5>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident&hellip;</p>
              <p><a href="#">Continue reading&hellip;</a></p>
              <svg class="icon text-colour-purple pull-left" role="presentation">
                <use xlink:href="images/sprite-icons.svg#tags"></use>
              </svg>
              <ul class="breadcrumb">
                <li><a href="#">dads</a></li>
                <li><a href="#">fathers</a></li>
                <li><a href="#">play</a></li>
                <li><a href="#">playgroup</a></li>
              </ul>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">State of Early Learning in Australia Report 2016</h4>
              <h5 class="text-colour-aqua">About a month ago</h5>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident&hellip;</p>
              <p><a href="#">Continue reading&hellip;</a></p>
              <svg class="icon text-colour-purple pull-left" role="presentation">
                <use xlink:href="images/sprite-icons.svg#tags"></use>
              </svg>
              <ul class="breadcrumb">
                <li><a href="#">dads</a></li>
                <li><a href="#">fathers</a></li>
                <li><a href="#">play</a></li>
                <li><a href="#">playgroup</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <form>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn btn-aqua" type="submit">Go!</button>
                </span>
              </div>
            </div>
          </form>

          <br>

          <div class="panel panel-white">
            <div class="panel-heading dots-above">
              <svg class="icon text-colour-purple pull-right" role="presentation">
                <use xlink:href="images/sprite-icons.svg#tags"></use>
              </svg>
              <h3 class="panel-title text-colour-purple">Tags</h3>
            </div>
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><a href="#"><span class="badge pull-right text-colour-purple">2</span> dads</a></li>
                <li><a href="#"><span class="badge pull-right text-colour-purple">2</span> fathers</a></li>
                <li><a href="#"><span class="badge pull-right text-colour-purple">2</span> play</a></li>
                <li><a href="#"><span class="badge pull-right text-colour-purple">2</span> playgroup</a></li>
                <li><a href="#"><span class="badge pull-right text-colour-purple">2</span> toy</a></li>
              </ul>
            </div>
          </div>

          <div class="panel panel-white">
            <div class="panel-heading dots-above">
              <h3 class="panel-title text-colour-aqua">Archive</h3>
            </div>
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><a href="#"><span class="badge pull-right text-colour-aqua">2</span> July 2016</a></li>
                <li><a href="#"><span class="badge pull-right text-colour-aqua">2</span> May 2016</a></li>
                <li><a href="#"><span class="badge pull-right text-colour-aqua">2</span> April 2016</a></li>
                <li><a href="#"><span class="badge pull-right text-colour-aqua">2</span> March 2016</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
