{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1 class="text-colour-aqua">Search results</h1>
    </div>

    <div class="page-content">
      <div class="row">
        <div class="col-md-8">
          <p class="lead">Your search for <span class="text-colour-aqua">vfdbvfndgn</span> returned 5 results</p>

          <hr>

          <ul class="media-list">
            <li class="media">
              <div class="media-body">
                <h4 class="media-heading"><a href="#">Search result</a></h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto&hellip;</p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4 class="media-heading"><a href="#">Search result</a></h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto&hellip;</p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4 class="media-heading"><a href="#">Search result</a></h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto&hellip;</p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4 class="media-heading"><a href="#">Search result</a></h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto&hellip;</p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <h4 class="media-heading"><a href="#">Search result</a></h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto&hellip;</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <form>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search again">
              <span class="input-group-btn">
                <button class="btn btn-aqua" type="submit">Go!</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
