{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header page-header-with-secondary">
      <h2 class="h1 text-colour-orange">Playgroup <br>Shop</h2>
      <p>
        <a class="text-colour-brown" href="#">Cart (1)</a>
        <a class="btn btn-orange" href="#">
          <svg class="icon" role="presentation">
            <use xlink:href="images/sprite-icons.svg#cart"></use>
          </svg>
          Checkout
        </a>
      </p>
    </div>

    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Playgroup Shop</a></li>
      <li><a href="#">Books &amp; DVDs</a></li>
      <li class="active">Smarty Cat – Rain</li>
    </ol>

    <div class="row">
      <div class="col-md-4">
        <div class="page-content">
          <img src="images/example-product.jpg" alt="Example alt text">
        </div>
      </div>
      <div class="col-md-8">
        <div class="page-content">
          <h1 class="section-header lead">Smarty Cat – Rain</h1>
          <p class="h2"><span class="text-colour-orange">$15.00</span> AUD</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>
          <br>

          <h3 class="section-header">Select size</h3>
          <ul class="nav nav-pills">
            <li><a href="#">S</a></li>
            <li class="active"><a href="#">M</a></li>
            <li><a href="#">L</a></li>
            <li><a href="#">XL</a></li>
          </ul>
          <br>

          <h3 class="section-header">Quantity</h3>
          <div class="row">
            <div class="col-xs-6 col-sm-3">
              <div class="form-group">
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-sm-6">
              <p><a class="btn btn-orange btn-block" href="#">Add to cart</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="share-panel">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-push-4">
          <h3>Share this product</h3>
          <ul class="social-menu social-menu-inline">
            <li>
              <a class="text-colour-brown" href="#">
                <svg class="icon" role="presentation">
                  <use xlink:href="images/sprite-icons.svg#social-facebook"></use>
                </svg>
                Facebook
              </a>
            </li>
            <li>
              <a class="text-colour-brown" href="#">
                <svg class="icon" role="presentation">
                  <use xlink:href="images/sprite-icons.svg#social-pinterest"></use>
                </svg>
                Pinterest
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
