{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header page-header-with-secondary">
      <h1 class="text-colour-orange">Playgroup <br>Shop</h1>
      <p>
        <a class="text-colour-brown" href="#">Cart (1)</a>
        <a class="btn btn-orange" href="#">
          <svg class="icon" role="presentation">
            <use xlink:href="images/sprite-icons.svg#cart"></use>
          </svg>
          Checkout
        </a>
      </p>
    </div>

    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Playgroup Shop</li>
    </ol>

    <div class="row">
      <div class="col-md-8">
        <div class="page-content">
          <h3 class="section-header lead text-colour-purple"><small class="pull-right"><a class="text-colour-purple" href="#">View more &gt;</a></small> Books &amp; DVDs</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="media">
                <div class="media-body">
                  <p><a href="#"><img src="images/example-product.jpg" alt="Example alt text"></a></p>
                  <p class="h5">$5.00</p>
                  <h4 class="media-heading"><a class="text-colour-brown" href="#">Smarty Cat – Rain</a></h4>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <div class="media-body">
                  <p><a href="#"><img src="images/example-product.jpg" alt="Example alt text"></a></p>
                  <p class="h5">$5.00</p>
                  <h4 class="media-heading"><a class="text-colour-brown" href="#">Smarty Cat – Rain</a></h4>
                </div>
              </div>
            </div>
          </div>

          <h3 class="section-header lead text-colour-pink"><small class="pull-right"><a class="text-colour-pink" href="#">View more &gt;</a></small> ‘I love Playgroup’ Merchandise</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="media">
                <div class="media-body">
                  <p><a href="#"><img src="images/example-product.jpg" alt="Example alt text"></a></p>
                  <p class="h5">$5.00</p>
                  <h4 class="media-heading"><a class="text-colour-brown" href="#">Smarty Cat – Rain</a></h4>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <div class="media-body">
                  <p><a href="#"><img src="images/example-product.jpg" alt="Example alt text"></a></p>
                  <p class="h5">$5.00</p>
                  <h4 class="media-heading"><a class="text-colour-brown" href="#">Smarty Cat – Rain</a></h4>
                </div>
              </div>
            </div>
          </div>

          <h3 class="section-header lead text-colour-blue"><small class="pull-right"><a class="text-colour-blue" href="#">View more &gt;</a></small> Crayola</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="media">
                <div class="media-body">
                  <p><a href="#"><img src="images/example-product.jpg" alt="Example alt text"></a></p>
                  <p class="h5">$5.00</p>
                  <h4 class="media-heading"><a class="text-colour-brown" href="#">Smarty Cat – Rain</a></h4>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <div class="media-body">
                  <p><a href="#"><img src="images/example-product.jpg" alt="Example alt text"></a></p>
                  <p class="h5">$5.00</p>
                  <h4 class="media-heading"><a class="text-colour-brown" href="#">Smarty Cat – Rain</a></h4>
                </div>
              </div>
            </div>
          </div>

          <h3 class="section-header lead text-colour-green"><small class="pull-right"><a class="text-colour-green" href="#">View more &gt;</a></small> Playgroup Administration</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="media">
                <div class="media-body">
                  <p><a href="#"><img src="images/example-product.jpg" alt="Example alt text"></a></p>
                  <p class="h5">$5.00</p>
                  <h4 class="media-heading"><a class="text-colour-brown" href="#">Smarty Cat – Rain</a></h4>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <div class="media-body">
                  <p><a href="#"><img src="images/example-product.jpg" alt="Example alt text"></a></p>
                  <p class="h5">$5.00</p>
                  <h4 class="media-heading"><a class="text-colour-brown" href="#">Smarty Cat – Rain</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="page-content">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-purple">
              <span class="list-group-item-heading dots-above">Books &amp; DVDs</span>
            </a>
            <a href="#" class="list-group-item list-group-item-pink">
              <span class="list-group-item-heading dots-above">‘I love Playgroup’ Merchandise</span>
            </a>
            <a href="#" class="list-group-item list-group-item-blue">
              <span class="list-group-item-heading dots-above">Crayola</span>
            </a>
            <a href="#" class="list-group-item list-group-item-green">
              <span class="list-group-item-heading dots-above">Playgroup Administration</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
