{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header page-header-with-secondary">
      <h2 class="h1 text-colour-orange">Playgroup <br>Shop</h2>
      <p>
        <a class="text-colour-brown" href="#">Cart (1)</a>
        <a class="btn btn-orange" href="#">
          <svg class="icon" role="presentation">
            <use xlink:href="images/sprite-icons.svg#cart"></use>
          </svg>
          Checkout
        </a>
      </p>
    </div>

    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Playgroup Shop</a></li>
      <li class="active">Books &amp; DVDs</li>
    </ol>

    <div class="row">
      <div class="col-md-8">
        <div class="page-content">
          <h1 class="h3 section-header lead">Books &amp; DVDs</h1>

          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="images/example-product.jpg" alt="Example alt text">
              </a>
            </div>
            <div class="media-body">
              <p class="h4 text-colour-orange">$5.00</p>
              <h4 class="media-heading"><a class="text-colour-brown" href="#">Smarty Cat – Rain</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti...</p>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="images/example-product.jpg" alt="Example alt text">
              </a>
            </div>
            <div class="media-body">
              <p class="h4 text-colour-orange">$5.00</p>
              <h4 class="media-heading"><a class="text-colour-brown" href="#">Smarty Cat – Rain</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti...</p>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="images/example-product.jpg" alt="Example alt text">
              </a>
            </div>
            <div class="media-body">
              <p class="h4 text-colour-orange">$5.00</p>
              <h4 class="media-heading"><a class="text-colour-brown" href="#">Smarty Cat – Rain</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti...</p>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="images/example-product.jpg" alt="Example alt text">
              </a>
            </div>
            <div class="media-body">
              <p class="h4 text-colour-orange">$5.00</p>
              <h4 class="media-heading"><a class="text-colour-brown" href="#">Smarty Cat – Rain</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti...</p>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="images/example-product.jpg" alt="Example alt text">
              </a>
            </div>
            <div class="media-body">
              <p class="h4 text-colour-orange">$5.00</p>
              <h4 class="media-heading"><a class="text-colour-brown" href="#">Smarty Cat – Rain</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti...</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="page-content">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-purple active">
              <span class="list-group-item-heading dots-above">Books &amp; DVDs</span>
            </a>
            <a href="#" class="list-group-item list-group-item-pink">
              <span class="list-group-item-heading dots-above">‘I love Playgroup’ Merchandise</span>
            </a>
            <a href="#" class="list-group-item list-group-item-blue">
              <span class="list-group-item-heading dots-above">Crayola</span>
            </a>
            <a href="#" class="list-group-item list-group-item-green">
              <span class="list-group-item-heading dots-above">Playgroup Administration</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
