{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <svg class="icon pull-right text-colour-pink" role="presentation">
        <use xlink:href="images/sprite-icons.svg#bubble-power"></use>
      </svg>
      <h1 class="text-colour-pink">Start a Playgroup</h1>
    </div>

    <div class="page-content">
      <div class="row">
        <div class="col-md-8">
          <p class="lead">Create your perfect place for learning through play and start your own.</p>

          <form>
            <h3 class="lead text-colour-pink">Tell us about yourself&hellip;</h3>
            <div class="form-group">
              <label for="exampleInputFirstName1">First Name</label>
              <input type="text" class="form-control" id="exampleInputFirstName1">
            </div>
            <div class="form-group">
              <label for="exampleInputLastName1">Last Name</label>
              <input type="text" class="form-control" id="exampleInputLastName1">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="form-group">
              <label for="exampleInputPhone1">Phone</label>
              <input type="text" class="form-control" id="exampleInputPhone1">
            </div>
            <br>

            <h3 class="lead text-colour-pink">Tell us about the Playgroup you would like to start&hellip;</h3>
            <div class="form-group">
              <label for="exampleInputSubject1">Subject</label>
              <input type="text" class="form-control" id="exampleInputSubject1">
            </div>
            <div class="form-group">
              <label for="exampleInputMessage1">Message</label>
              <textarea class="form-control" id="exampleInputMessage1" rows="6"></textarea>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p><button type="submit" class="btn btn-pink btn-block">Submit</button></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
