{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1 class="text-colour-aqua">Terms &amp; Conditions</h1>
    </div>

    <div class="page-content">
      <div class="row">
        <div class="col-md-8">
          <h4>Privacy policy</h4>
          <p>Please review our Privacy Notice, which also governs your visit to our website, to understand our practices.</p>
          <br>

          <h4>Electronic communications</h4>
          <p>When you visit MYCOMPANY or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail or by posting notices on this site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</p>
          <br>

          <h4>Copyright</h4>
          <p>All content included on this site, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of MYCOMPANY or its content suppliers and protected by international copyright laws. The compilation of all content on this site is the exclusive property of MYCOMPANY, with copyright authorship for this collection by MYCOMPANY, and protected by international copyright laws.</p>
          <br>

          <h4>License and site access</h4>
          <p>MYCOMPANY grants you a limited license to access and make personal use of this site and not to download (other than page caching) or modify it, or any portion of it, except with express written consent of MYCOMPANY. This license does not include any resale or commercial use of this site or its contents: any collection and use of any product listings, descriptions, or prices: any derivative use of this site or its contents: any downloading or copying of account information for the benefit of another merchant: or any use of data mining, robots, or similar data gathering and extraction tools. This site or any portion of this site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of MYCOMPANY. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of MYCOMPANY and our associates without express written consent. You may not use any meta tags or any other "hidden text" utilizing MYCOMPANYs name or trademarks without the express written consent of MYCOMPANY. Any unauthorized use terminates the permission or license granted by MYCOMPANY. You are granted a limited, revocable, and nonexclusive right to create a hyperlink to the home page of MYCOMPANY so long as the link does not portray MYCOMPANY, its associates, or their products or services in a false, misleading, derogatory, or otherwise offensive matter. You may not use any MYCOMPANY logo or other proprietary graphic or trademark as part of the link without express written permission.</p>
          <br>

          <h4>Applicable law</h4>
          <p>By visiting MYCOMPANY, you agree that the laws of the state of DEFINE_STATE, DEFINE_COUNTRY, without regard to principles of conflict of laws, will govern these Conditions of Use and any dispute of any sort that might arise between you and MYCOMPANY or its associates.</p>
          <br>

          <h4>Disputes</h4>
          <p>Any dispute relating in any way to your visit to MYCOMPANY or to products you purchase through MYCOMPANY shall be submitted to confidential arbitration in DEFINE_STATE, DEFINE_COUNTRY, except that, to the extent you have in any manner violated or threatened to violate MYCOMPANYs intellectual property rights, MYCOMPANY may seek injunctive or other appropriate relief in any state or federal court in the state of DEFINE_STATE, DEFINE_COUNTRY, and you consent to exclusive jurisdiction and venue in such courts. Arbitration under this agreement shall be conducted under the rules then prevailing of the American Arbitration Association. The arbitrators award shall be binding and may be entered as a judgment in any court of competent jurisdiction. To the fullest extent permitted by applicable law, no arbitration under this Agreement shall be joined to an arbitration involving any other party subject to this Agreement, whether through class arbitration proceedings or otherwise.</p>
          <br>

          <h4>Site policies, modification, and severability</h4>
          <p>Please review our other policies, such as our Shipping and Returns policy, posted on this site. These policies also govern your visit to MYCOMPANY. We reserve the right to make changes to our site, policies, and these Conditions of Use at any time. If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.</p>
          <br>

          <h4>Questions</h4>
          <p>Questions regarding our Conditions of Usage, Privacy Policy, or other policy related material can be directed to our support staff by clicking on the "Contact Us" link in the side menu. Or you can email us at: info@MYCOMPANY.com</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
