{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-md-4">
          <h1 class="text-colour-aqua">What is Playgroup</h1>
        </div>
        <div class="col-md-8">
          <p><img class="img-rounded" src="images/example-header.jpg" alt="Example alt text"></p>
        </div>
      </div>
    </div>

    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Parent page</a></li>
      <li class="active">What is Playgroup</li>
    </ol>

    <div class="row">
      <div class="col-md-8">
        <div class="page-content">
          <p class="lead">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
          <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
          <h4>At vero eos et</h4>
          <p>Accusamus et iusto odio dignissimos ducimus qui blanditiis:</p>
          <ul>
            <li>praesentium voluptatum</li>
            <li>deleniti atque</li>
            <li>corrupti quos dolores</li>
            <li>et quas molestias</li>
          </ul>
          <p>Excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
          <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="page-content">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-purple">
              <span class="list-group-item-heading dots-above">Playgroups</span>
            </a>
            <a href="#" class="list-group-item list-group-item-orange">
              <span class="list-group-item-heading dots-above">My Time</span>
            </a>
            <a href="#" class="list-group-item list-group-item-aqua">
              <span class="list-group-item-heading dots-above">Accessible</span>
            </a>
            <a href="#" class="list-group-item list-group-item-green">
              <span class="list-group-item-heading dots-above">Hippy</span>
            </a>
            <a href="#" class="list-group-item list-group-item-pink">
              <span class="list-group-item-heading dots-above">Play Connect</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
