{% extends "layouts/default.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-md-4">
          <h1 class="text-colour-aqua">What we do</h1>
        </div>
        <div class="col-md-8">
          <p><img class="img-rounded" src="images/example-header.jpg" alt="Example alt text"></p>
        </div>
      </div>
    </div>

    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">What we do</li>
    </ol>

    <div class="row">
      <div class="col-md-8">
        <div class="page-content">
          <p class="lead">We provide many varied programs at Playgroup Victoria to help children play, connect, learn and&nbsp;grow.</p>
          <br>
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-purple">
              <span class="list-group-item-heading dots-above">Community Playgroups</span>
            </a>
            <a href="#" class="list-group-item list-group-item-orange">
              <span class="list-group-item-heading dots-above">My Time</span>
            </a>
            <a href="#" class="list-group-item list-group-item-aqua">
              <span class="list-group-item-heading dots-above">Accessible Playgroup</span>
            </a>
            <a href="#" class="list-group-item list-group-item-green">
              <span class="list-group-item-heading dots-above">Hippy</span>
            </a>
            <a href="#" class="list-group-item list-group-item-pink">
              <span class="list-group-item-heading dots-above">Play Connect</span>
            </a>
            <a href="#" class="list-group-item list-group-item-blue">
              <span class="list-group-item-heading dots-above">Sing &amp; Grow</span>
            </a>
            <a href="#" class="list-group-item list-group-item-yellow">
              <span class="list-group-item-heading dots-above">Toy Libraries</span>
            </a>
            <a href="#" class="list-group-item list-group-item-maroon">
              <span class="list-group-item-heading dots-above">Blokes &amp; Little Folks</span>
            </a>
            <a href="#" class="list-group-item list-group-item-purple">
              <span class="list-group-item-heading dots-above">Locational Supported Playgroups</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
