<footer class="site-footer">
  <div class="site-footer-primary">
    <div class="container">
      <div class="footer-logo"><a href="/"><img src="images/logo-inverse.svg" width="229" height="92" alt="Playgroup Victoria"></a></div>
      <div class="row">
        <div class="col-md-8">
          <ul class="site-map-menu">
            <li>
              <a href="#">Programs <br>&amp; Projects</a>
              <ul class="site-map-submenu">
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Dolor sit amet</a></li>
                <li><a href="#">Consectetur</a></li>
                <li><a href="#">Adipiscing elit</a></li>
                <li><a href="#">Ssed do</a></li>
                <li><a href="#">Eiusmod tempor</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Playgroup <br>Events</a>
              <ul class="site-map-submenu">
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Dolor sit amet</a></li>
                <li><a href="#">Consectetur</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Practice <br>&amp; Research</a>
              <ul class="site-map-submenu">
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Dolor sit amet</a></li>
                <li><a href="#">Consectetur</a></li>
                <li><a href="#">Adipiscing elit</a></li>
              </ul>
            </li>
            <li><a href="#">Playgroup <br>Shop</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="well well-sm">
            <h4 class="social-heading">
              <svg class="icon text-colour-red" role="presentation">
                <use xlink:href="images/sprite-icons.svg#heart"></use>
              </svg>
              <span class="text">Welcome to your new social group</span>
            </h4>
            <ul class="social-menu">
              <li>
                <a href="#">
                  <svg class="icon" role="presentation">
                    <use xlink:href="images/sprite-icons.svg#social-facebook"></use>
                  </svg>
                  Facebook
                </a>
              </li>
              <li>
                <a href="#">
                  <svg class="icon" role="presentation">
                    <use xlink:href="images/sprite-icons.svg#social-instagram"></use>
                  </svg>
                  Instagram
                </a>
              </li>
              <li>
                <a href="#">
                  <svg class="icon" role="presentation">
                    <use xlink:href="images/sprite-icons.svg#social-linkedin"></use>
                  </svg>
                  LinkedIn
                </a>
              </li>
              <li>
                <a href="#">
                  <svg class="icon" role="presentation">
                    <use xlink:href="images/sprite-icons.svg#social-pinterest"></use>
                  </svg>
                  Pinterest
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-footer-secondary">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-8">
          <p><img src="images/i-love-playgroup.svg" alt="I love Playgroup" width="254" height="27"></p>
        </div>
        <div class="col-sm-6 col-md-4">
          <p><small><strong>Playgroup Victoria Inc. &copy; 2016</strong> <br><a href="#">Privacy Policy</a> | <a href="#">Terms &amp; Conditions</a></small></p>
          <p><small><a target="_blank" href="http://maltcreative.com.au">Website brewed by Malt Creative</a></small></p>
        </div>
      </div>
    </div>
  </div>
</footer>
