<header class="site-header">
  <div class="container">
    <div class="site-header-primary">
      <div class="site-logo"><a href="/"><img src="images/logo.svg" width="229" height="92" alt="Playgroup Victoria"></a></div>
      <nav class="secondary-nav" id="secondary-nav">
        <ul class="tertiary-nav-menu" id="tertiary-nav-menu">
          <li>
            <a href="#">
              <span class="icon-wrap">
                <svg class="icon text-colour-aqua" role="presentation">
                  <use xlink:href="images/sprite-icons.svg#bubble-location"></use>
                </svg>
              </span>
              <span class="text">Find a <br>Playgroup</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon-wrap">
                <svg class="icon text-colour-pink" role="presentation">
                  <use xlink:href="images/sprite-icons.svg#bubble-power"></use>
                </svg>
              </span>
              <span class="text">Register a <br>Playgroup</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon-wrap">
                <svg class="icon text-colour-yellow" role="presentation">
                  <use xlink:href="images/sprite-icons.svg#bubble-playgroup"></use>
                </svg>
              </span>
              <span class="text">Join <br>Playgroup <br>Victoria</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="site-header-secondary">
      <button class="primary-nav-toggle" data-open-close="primary-nav">
        <svg class="icon" role="presentation">
          <use xlink:href="images/sprite-icons.svg#menu"></use>
        </svg>
        <span class="text">Menu</span>
      </button>
      <nav class="primary-nav" id="primary-nav">
        <button class="primary-nav-close" data-open-close="primary-nav">
          <svg class="icon" role="presentation">
            <use xlink:href="images/sprite-icons.svg#cross"></use>
          </svg>
        </button>
        <ul class="primary-nav-menu">
          <li>
            <a href="#">Programs <br>&amp; Projects</a>
            <button class="primary-subnav-toggle collapsed" data-toggle="collapse" data-target="#subnav-1" aria-expanded="false" aria-controls="subnav-1">
              <svg class="icon icon-plus" role="presentation">
                <use xlink:href="images/sprite-icons.svg#plus"></use>
              </svg>
              <svg class="icon icon-minus" role="presentation">
                <use xlink:href="images/sprite-icons.svg#minus"></use>
              </svg>
            </button>
            <div class="collapse" id="subnav-1">
              <ul class="primary-subnav-menu">
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#">Playgroup <br>Events</a>
            <button class="primary-subnav-toggle collapsed" data-toggle="collapse" data-target="#subnav-2" aria-expanded="false" aria-controls="subnav-2">
              <svg class="icon icon-plus" role="presentation">
                <use xlink:href="images/sprite-icons.svg#plus"></use>
              </svg>
              <svg class="icon icon-minus" role="presentation">
                <use xlink:href="images/sprite-icons.svg#minus"></use>
              </svg>
            </button>
            <div class="collapse" id="subnav-2">
              <ul class="primary-subnav-menu">
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
                <li><a href="#">Submenu item</a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#">Practice <br>&amp; Research</a>
            <button class="primary-subnav-toggle collapsed" data-toggle="collapse" data-target="#subnav-3" aria-expanded="false" aria-controls="subnav-3">
              <svg class="icon icon-plus" role="presentation">
                <use xlink:href="images/sprite-icons.svg#plus"></use>
              </svg>
              <svg class="icon icon-minus" role="presentation">
                <use xlink:href="images/sprite-icons.svg#minus"></use>
              </svg>
            </button>
            <div class="collapse" id="subnav-3">
              <ul class="primary-subnav-menu">
                <li><a href="#">The Playgroup Framework</a></li>
                <li><a href="#">Department of Education Supported Playgroups Program</a></li>
                <li><a href="#">Supported Playgroups</a></li>
                <li><a href="#">Practice Support</a></li>
                <li><a href="#">Professional Development</a></li>
                <li><a href="#">Laying the Foundations Conference 2016</a></li>
                <li><a href="#">Research</a></li>
                <li><a href="#">Reserach Requests</a></li>
                <li><a href="#">Tools and Resources</a></li>
                <li><a href="#">Playgroup Professional eNewseltter</a></li>
                <li><a href="#">Child Safe Playgroups</a></li>
                <li><a href="#">Professional membership</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#">Playgroup <br>Shop</a></li>
        </ul>
        <ul class="secondary-nav-menu">
          <li><a href="#">Member <br>Login</a></li>
        </ul>
        <form class="primary-search-form" action="/" method="get">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-aqua" type="submit">Go!</button>
            </span>
          </div>
        </form>
      </nav>
      <div class="site-tagline">
        Playgroup is for everyone...
        <div class="bubble">
          <svg class="icon text-colour-pink" role="presentation">
            <use xlink:href="images/sprite-icons.svg#bubble-top-right"></use>
          </svg>
          <span class="text">Free 1<sup>st</sup> year for every child</span>
        </div>
      </div>
    </div>
  </div>
</header>
